* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body { 
    background-color: #000; 
    color: #fff; 
    overflow-x: hidden;
}

.container {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background: #111;
    overflow: hidden;
}

.video-wrapper {
    position: relative;
    width: 100%; 
    height: 100%;
    max-width: 500px; 
    background-color: #000;
}


#video-box {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.pause {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50px; 
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; 
    justify-content: center; 
    align-items: center;
}

.pause-btn { 
    display: flex !important; 
}

.pause i {
    font-size: 1.5rem;
    color: #fff;
}

.side-bar {
    position: absolute;
    right: 15px; 
    bottom: 120px;
    display: flex; 
    flex-direction: column; 
    gap: 20px;
    z-index: 15;
}

.side-icon {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
}

.side-icon i { 
    font-size: 1.6rem; 
    margin-bottom: 5px;
}

.side-icon span { 
    font-size: 0.75rem; 
    font-weight: bold;
}

.video-info {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%;
    padding: 20px 15px;
    text-align: left;
    z-index: 5;
    padding-right: 60px;
}

.video-info h3 { 
    display: flex;
    align-items: center;
    font-size: 1rem; 
    user-select: none;
    margin-bottom: 8px;
    cursor: pointer;
}

.video-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.follow-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 25px;
    font-size: 0.8rem;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.video-info p { 
    font-size: 0.9rem; 
    line-height: 1.4;
    color: #fff;
    margin-bottom: 10px;
    max-width: 85%;
    user-select: none;
}

.comments {
    background-color: #1a1a1a;
    width: 400px; 
    height: 100%; 
    display: none;
    flex-direction: column;
    z-index: 20;
}

.comments-header {
    padding: 20px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.cmnt-main {
    flex: 1;
    overflow-y: auto; 
    padding: 15px;
}

.comment-item {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.comment-item span{
    font-size: 0.8rem;
    color: #888;
}

.comment-item i{
    cursor: pointer;
}

.comment-item img {
    width: 35px;
    height: 35px;   
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
    cursor: pointer;
}

.comment-content p {
    font-size: 0.9rem;
    margin-top: 4px ;
}

.comment-item h4{
    font-size: 0.9rem;
    user-select: none;
    cursor: pointer;
}

.comment-yorum {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.74rem;
    color: #888;
    margin-top: 5px;
}

.reply-text {
    font-weight: bold;
    cursor: pointer;
}

.comment-input {
    padding: 15px;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-input input {
    flex: 1;
    background: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    outline: none;
}

.music-info {
    display: flex;
    align-items: center;
    background-color: #3f3f3f5b;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    gap: 8px;
    user-select: none;
    cursor: pointer;
}

.music-info i {
    font-size: 0.8rem;
    margin-left: 10px;
}

.music-info marquee {
    font-size: 0.85rem;
    width: 150px;
}

.bookmark-checkbox {
  display: none;
}

.bookmark-label i {
  cursor: pointer;
  color: #fff;
}

.bookmark-checkbox:checked + .bookmark-label i {
  font-weight: 900;
  color: #fff;
}


@media (max-width: 1024px) {
    .video-wrapper {
        width: 90%; 
        height: 85%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .video-wrapper {
        width: 100%; 
        height: 100%;
        max-width: none;
    }
    .comments {
        width: 100%;
        height: 50%;
    }
    .side-bar {
        bottom: 80px;
        right: 15px;
    }   
}

@media (max-width: 480px) {
    .video-wrapper {
        height: 100%;
    }
    .comments {
        height: 50%;
    }
    .side-bar {
        bottom: 20px;
        right: 10px;
        gap: 15px;
    }
    .side-icon i { 
        font-size: 1.4rem; 
    }
    .video-info {
        padding-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .side-bar {
        bottom: 10px;
        gap: 8px;
    }
    .side-icon i { 
        font-size: 1.2rem; 
    }
    .video-info h3 { 
        font-size: 0.8rem; 
    }

    .follow-btn{
        height: 20px;
        width: 100px;
        font-size: 0.5rem;
    }
}